///* ========================================================================
//   #DRINK COUNT
//   ======================================================================== */

.c-drink-count {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 10;
  background-color: rgba(0,0,0,0.7);
  color: #fff;
  padding: 40px;
}
